@use "govuk-frontend" as *;

.btms-admin-search-results-container {
  overflow-x: auto;
  background-color: govuk-colour("light-grey");
}

.btms-admin-search-results-container > :last-child {
  border-bottom: none;
}

.btms-admin-search-result {
  display: block;
  @include govuk-font-size($size: 16);
  position: relative;
  border-bottom: govuk-colour("dark-grey") solid govuk-spacing(1);
  width: max-content;
  min-width: 100%;
}
