@use "govuk-frontend" as *;

.app-summary-card-wrapper {
  margin-bottom: govuk-spacing(6);
}

.app-customs-declaration-summary {
  background-color: govuk-colour('light-grey');
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
  padding: govuk-spacing(3) 0;
  margin: 0;

  .govuk-summary-list__row {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: govuk-spacing(2);

    .govuk-summary-list__key {
      width: inherit;
      margin: 0;
      padding: 0;
      @include govuk-font-size($size: 16);
    }

    .govuk-summary-list__value {
      padding-bottom: 0;
      padding-top: govuk-spacing(1);
      @include govuk-font-size($size: 16);
    }
  }
}

.app-import-commodities {
  @include govuk-font-size($size: 16);

  &__ched-ref--documents-list {
    margin-bottom: 0;

    li {
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 1.25;
    }
  }

  &__ched-ref--unmatched {
    color: $govuk-error-colour;
  }

  &__match--no {
    text-decoration: underline dotted;
    text-underline-position: under;
    cursor: help;
  }

  &__match--no-tooltip,
  &__description--tooltip {
    visibility: hidden;
    position: absolute;
    padding: govuk-spacing(2);
    width: 15em;
    z-index: 9999;
    background-color: govuk-colour("light-grey");
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  }

  &__description--tooltip {
    width: 20em;
  }

  .govuk-table__cell:has(&__match--no-tooltip),
  .govuk-table__cell:has(&__description--tooltip) {
    cursor: help;
  }

  .govuk-table__cell:hover &__match--no-tooltip,
  .govuk-table__cell:focus &__match--no-tooltip,
  .tooltip-container:hover &__match--no-tooltip,
  .tooltip-container:focus &__match--no-tooltip,
  .govuk-table__cell:hover &__description--tooltip,
  .govuk-table__cell:focus &__description--tooltip,
  .tooltip-container:hover &__description--tooltip,
  .tooltip-container:focus &__description--tooltip {
    visibility: visible;
  }

  .govuk-table__cell, .tooltip-container {
    position: relative;
    overflow: visible;
  }
}
