@use "govuk-frontend" as *;
@use 'variables' as *;

.app-customs-declaration-summary {
  background-color: govuk-colour('light-grey');
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
  padding: govuk-spacing(3) 0;
  margin: 0;
  @include govuk-font-size($size: 14);

  .govuk-summary-list__row {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: govuk-spacing(2);

    .govuk-summary-list__key {
      width: inherit;
      margin: 0;
      padding: 0;
    }

    .govuk-summary-list__value {
      padding-bottom: 0;
      padding-top: govuk-spacing(1);
    }
  }
}

.app-import-commodities {
  @include govuk-font-size($size: 14);

  &__ched-ref--documents-list {
    margin-bottom: 0;

    li {
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 1.25;
    }
  }

  &__ched-ref--unmatched {
    color: $govuk-error-colour;
  }

  &__match--no {
    text-decoration: underline dotted;
    text-underline-position: under;
    cursor: help;
    line-height: 1.25;
  }

  &__match--yes {
    line-height: 1.25;
  }

  &__match--no-tooltip,
  &__description--tooltip {
    visibility: hidden;
    position: absolute;
    padding: govuk-spacing(2);
    width: 15em;
    z-index: 9999;
    background-color: govuk-colour("light-grey");
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    line-height: 1.25;
  }

  &__description--tooltip {
    width: 20em;
  }

  .govuk-table__cell:has(&__match--no-tooltip),
  .govuk-table__cell:has(&__description--tooltip) {
    cursor: help;
  }

  .govuk-table__cell:hover &__match--no-tooltip,
  .govuk-table__cell:focus &__match--no-tooltip,
  .tooltip-container:hover &__match--no-tooltip,
  .tooltip-container:focus &__match--no-tooltip,
  .govuk-table__cell:hover &__description--tooltip,
  .govuk-table__cell:focus &__description--tooltip,
  .tooltip-container:hover &__description--tooltip,
  .tooltip-container:focus &__description--tooltip {
    visibility: visible;
  }

  .govuk-table__cell, .tooltip-container {
    position: relative;
    overflow: visible;
  }
}

.btms-details, .btms-details[open] {
  .govuk-details__summary-text {
    text-decoration: none;
  }

  .govuk-details__summary {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 70px;
    text-decoration: none;
    border: 1px solid $btms-light-to-mid-grey;
    margin-bottom: 0;

    &::before {
      content: none;
      display: none;
    }

    &::after {
      content: '';
      box-sizing: border-box;
      background-color: govuk-colour("light-grey");
      background-image: $chevron-down;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
      font-weight: bold;
      font-size: 32px;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 70px;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $btms-light-to-mid-grey
    }

    &:focus {
      outline: 3px solid govuk-colour("yellow");
      box-shadow: none;
    }
  }

  .govuk-tag,
  .govuk-list {
     font-size: 0.875rem;
  }
}

.btms-details[open] {
  padding-bottom: 0;

  .govuk-details__summary {
    &::after {
      background-image: $chevron-up;
    }
  }

  .govuk-details__text {
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: $btms-light-to-mid-grey;
    padding: 15px;
  }

  .govuk-table__row:last-child {
    .govuk-table__cell {
      border-bottom: none;
    }
  }

  .btms-declaration tbody > tr:not([hidden]) + tr:not(:first-of-type) > td:nth-child(-n+4) {
    visibility: hidden;
  }

  .btms-declaration tbody tr:not(:last-of-type) > td:nth-last-child(-n+3) {
    border-bottom: 1px dashed $btms-light-to-mid-grey;
  }

  .btms-declaration tbody:last-of-type tr:last-of-type > td {
    border-bottom: none;
  }

  .btms-declaration tbody > tr:not(:last-of-type) > td {
    border: none;
  }

  .govuk-inset-text {
    margin:0;
    @include govuk-font-size($size: 16);
  }

  .govuk-list {
    margin-bottom: 0;
  }
}
