.stat-card-group {
    color: #0b0c0c;
    display: flex;
    flex-wrap: wrap;
    font-family: GDS Transport, arial, sans-serif;
    gap: 1rem;
    margin-bottom: 2rem;
}


.stat-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    padding: 16px;
    width: 200px;
}

.stat-card__label {
    font-weight: 700;
    font-size: 18px;
}

.stat-card__percentage {
    display: block;
    font-size: 14px;
    margin-top: 2px;
}

.stat-card__value-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.stat-card__value {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
}

.stat-card--blue {
    background-color: #d5e1f0;
}

