@use "govuk-frontend" as *;
@use "@ministryofjustice/frontend/moj/components/date-picker/date-picker";
@use "variables" as *;

.btms-reporting-filters {
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(4);

  .govuk-fieldset__legend {
    @include govuk-font-size($size: 16);
  }

  .govuk-error-message {
    font-size: 14px;
  }
}

.moj-datepicker .govuk-label {
  font-weight: bold;
  @include govuk-font-size($size: 16);
}

.btms-tabs .govuk-tabs__panel {
  border: none;
  padding: 30px 10px;
}

.btms-reports {
  .btms-report:nth-child(odd) {
    .btms-tile {
      background-color: $btms-light-grey;
    }
  }

  .btms-report:nth-child(even) {
    .btms-tile {
      background-color: $btms-light-blue;
    }
  }

  .btms-chart:not(:last-of-type) {
    border-bottom: 1px solid govuk-colour("light-grey");
  }
}

.btms-chart {
  table {
    @include govuk-font-size($size: 16);
  }

  .btms-row {
    overflow-x: scroll;
  }

  .btms-tile {
    min-width: auto;
    @include govuk-font-size($size: 16);
  }

  .govuk-heading-l {
    font-size: 24px;
  }

  .key::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    border-radius: 4px;
  }

  .automatic,
  .chedpp,
  .match,
  .unique {
    &::before {
      background-color: $btms-chart-blue;
    }
  }

  .chedp,
  .manual,
  .nomatch {
    &::before {
      background-color: $btms-chart-green;
    }
  }

  .chedd::before {
    background-color: $btms-chart-orange;
  }

  .cheda::before {
    background-color: $btms-chart-pink;
  }
}

.btms-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: govuk-spacing(4);
}

.btms-tile {
  margin: 0;
  @include govuk-font-size($size: 16);
  padding: govuk-spacing(3);
  min-width: 200px;
  box-sizing: border-box;

  dd {
    margin: 0;
  }

  .govuk-heading-l {
    font-size: 32px;
  }

  .govuk-heading-s {
    font-size: 18px;
    margin-bottom: govuk-spacing(2);
  }

  .btms-percentage {
    font-size: 14px;
  }

  .govuk-list {
    margin-bottom: 14px;
  }
}
