@use "govuk-frontend" as *;
@use "@ministryofjustice/frontend/moj/components/timeline/timeline";
@use "variables" as *;

.btms-search-results {
  .govuk-inset-text {
    margin-top: 0;
    @include govuk-font-size($size: 16);
  }
}

.btms-customs-declaration-summary {
  background-color: govuk-colour("light-grey");
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Responsive columns */
  padding: govuk-spacing(3) 0;
  margin: 0;
  @include govuk-font-size($size: 14);

  .govuk-summary-list__row {
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: govuk-spacing(2);

    .govuk-summary-list__key {
      width: inherit;
      margin: 0;
      padding: 0;
    }

    .govuk-summary-list__value {
      padding-bottom: 0;
      padding-top: govuk-spacing(1);
    }
  }
}

.btms-details,
.btms-details[open] {
  .govuk-details__summary-text {
    text-decoration: none;
  }

  .govuk-details__summary {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 70px;
    text-decoration: none;
    border: 1px solid $btms-light-to-mid-grey;
    margin-bottom: 0;
    user-select: text;
    pointer-events: none;

    a {
      pointer-events: all;
    }

    &::before {
      content: none;
      display: none;
    }

    &::after {
      content: "";
      box-sizing: border-box;
      background-color: govuk-colour("light-grey");
      background-image: $chevron-down;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
      font-weight: bold;
      font-size: 32px;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 70px;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $btms-light-to-mid-grey;
      pointer-events: auto;
    }

    &:focus {
      outline: none;
      box-shadow: none;

      &::after {
        outline: 3px solid govuk-colour("yellow");
      }
    }
  }

  .govuk-tag {
    display: inline;
    white-space: nowrap;
  }

  .govuk-table,
  .govuk-tag,
  .govuk-list {
    @include govuk-font-size($size: 14);
  }

  .btms-declaration td:nth-child(3) {
    width: 22%;
  }

  .btms-notification td:nth-child(3) {
    width: 30%;
  }

  .govuk-table td:last-child {
    width: 18%;
  }
}

.btms-details[open] {
  padding-bottom: 0;

  .govuk-details__summary {
    &::after {
      background-image: $chevron-up;
    }
  }

  .govuk-details__text {
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: $btms-light-to-mid-grey;
    padding: govuk-spacing(3);
  }

  .govuk-table__row:last-child {
    .govuk-table__cell {
      border-bottom: none;
    }
  }

  [aria-describedby] {
    cursor: help;
    position: relative;

    [role="tooltip"] {
      display: none;
    }

    &:hover,
    &:focus {
      [role="tooltip"] {
        display: block;
        position: absolute;
        left: 0;
        width: 300px;
        padding: govuk-spacing(2);
        color: $govuk-text-colour;
        background-color: govuk-colour("light-grey");
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
        text-decoration: none;
        z-index: 10000;
      }
    }
  }

  .btms-no-match {
    color: $govuk-error-colour;
    text-decoration: underline dashed $govuk-error-colour;
    text-underline-offset: 4px;
  }

  .btms-declaration
    tbody
    > tr:not([hidden])
    + tr:not(:first-of-type)
    > td:nth-child(-n + 4) {
    visibility: hidden;
  }

  .btms-declaration
    tbody
    tr:not(:last-of-type):not(:has(+ tr[data-authority="IUU"]))
    > td:nth-last-child(-n + 4) {
    border-bottom: 1px dashed $btms-light-to-mid-grey;
  }

  .btms-declaration tbody:last-of-type tr:last-of-type > td {
    border-bottom: none;
  }

  .btms-declaration tbody > tr:not(:last-of-type) > td {
    border: none;
  }

  .btms-notification tbody tr:last-child td {
    border-bottom: none;
  }

  .govuk-inset-text {
    margin: 0;
  }

  .govuk-list {
    margin-bottom: 0;
  }
}

.btms-timelines {
  width: 75%;

  .timeline-mrn-filter .govuk-label {
    font-weight: bold;
  }
}

.btms-search-result-timeline {
  .btms-timeline-event-source {
    display: block;
    @include govuk-font-size($size: 14);
    padding-top: 5px;
    color: #505a5f;
    font-weight: normal;
  }

  .moj-timeline__date {
    display: none;
  }

  .govuk-table {
    margin: 0;
  }

  .moj-timeline__description,
  .moj-timeline__description *,
  .moj-timeline__description .govuk-body,
  .moj-timeline__description .govuk-body *,
  .moj-timeline__description time,
  .moj-timeline__description span,
  .moj-timeline__description .govuk-tag {
    font-size: 16px;
    margin-right: 10px;
  }

  .moj-timeline__description .govuk-details__text .commodity-code,
  .moj-timeline__description .govuk-details__text .commodity-code strong,
  .moj-timeline__description .govuk-details__text .govuk-table *,
  .moj-timeline__description .govuk-details__text .govuk-table th,
  .moj-timeline__description .govuk-details__text .govuk-table td {
    font-size: 14px;
  }

  .moj-timeline__description .govuk-details__text p {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .timeline-detail-row {
    margin-bottom: 0;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-top: 0;
  }

  .timeline-detail-row:not(:first-child) {
    margin-top: 10px;
  }

  .timeline-detail-label {
    width: 100px;
    font-size: 16px;
    font-weight: 700;
    flex-shrink: 0;
    color: govuk-colour("black");
  }

  .moj-timeline__description .govuk-tag {
    font-weight: normal;
    margin-right: 0;
    max-width: fit-content;
  }

  .govuk-details {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .error-title {
    color: govuk-colour("red");
  }

  .timeline-message {
    flex: 1;
    line-height: 1.5;
  }

  .btms-error-highlight {
    margin-right: 0;
  }
}
