@use "govuk-frontend" as *;

@use "variables" as *;
@use "core";
@use "search";
@use "search-result";
@use "landing-page";
@use "filters";

.btms-width-container--wide {
  @include govuk-width-container(1200px);
}

.btms-header-nav {
  float: right;
  font-weight: 700;
}

.btms-heading-container {
  display: flex;
  align-items: end;
  gap: 1rem;
  margin-bottom: govuk-spacing(6);

  .govuk-heading-l {
    margin-bottom: 0;
  }

  .govuk-link {
    margin-bottom: 7px;
  }
}

.btms-hidden {
  visibility: hidden;
}

.btms-external-link {
  position: relative;

  svg {
    position: absolute;
    display: block;
    height: 12px;
    top: 2px;
    right: -18px;
  }
}
