@use "govuk-frontend" as *;

@use "variables" as *;
@use "core";
@use "app-search";
@use "app-search-result";
@use "themes";

.btms-width-container--wide {
  @include govuk-width-container(1200px);
}

.btms-heading-container {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}
