@use "govuk-frontend" as *;

@use "variables" as *;
@use "core";
@use "form-auth-provider";
@use "search";
@use "search-result";
@use "landing-page";
@use "filters";
@use "reporting";
@use "gmr-search-result";
@use "admin-search";
@use "latest-activity";
@use "vrn-trn-search-result";

.btms-service-navigation .govuk-width-container {
  display: flex;
  justify-content: space-between;
}

.btms-service-navigation--wide .govuk-width-container,
.btms-width-container--wide {
  @include govuk-width-container(1200px);
}

.btms-heading-container {
  display: flex;
  align-items: end;
  gap: 1rem;
  margin-bottom: govuk-spacing(6);

  .govuk-heading-l {
    margin-bottom: 0;
  }

  .govuk-link {
    margin-bottom: 7px;
  }
}

.btms-hidden {
  visibility: hidden;
}

.btms-external-link {
  position: relative;

  svg {
    position: absolute;
    display: block;
    height: 12px;
    top: 2px;
    right: -18px;
  }
}

.govuk-template--rebranded {
  .btms-header-nav {
    float: right;
    margin-top: 19px;
    margin-bottom: -19px;
  }

  .govuk-header__navigation-item {
    a {
      font-weight: 700;
    }
  }

  .govuk-footer__crown {
    margin-bottom: 0;
  }
}
