version: 2

updates:
  # ===========================
  # NPM - PRODUCTION DEPENDENCIES
  # ===========================
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "00:00"
    allow:
      - dependency-type: "production"
    groups:
      minor-and-patch:
        patterns:
          - "*"             # all prod deps
        update-types:
          - "minor"
          - "patch"
      security:
        applies-to: "security-updates"
        patterns:
          - "*"

  # ===========================
  # NPM - DEVELOPMENT DEPENDENCIES
  # ===========================
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "00:00"
    allow:
      - dependency-type: "development"
    groups:
      minor-and-patch:
        patterns:
          - "*"             # all dev deps
        update-types:
          - "minor"
          - "patch"
      security:
        applies-to: "security-updates"
        patterns:
          - "*"

  # Update GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: '00:00'
      timezone: 'Europe/London'
