{% extends 'layout.njk' %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Admin - Redrive Request Successful" %}

{% block content %}
  <div class="govuk-tabs btms-admin-tabs">
    <ul class="govuk-tabs__list" role="tablist">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
        <a class="btms-admin-dlq__tab" href="#">Dead Letter</a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item" role="presentation">
        <a class="btms-admin-dlq__tab" href="/admin/messages">Messages</a>
      </li>
    </ul>
    <section class="btms-admin-dlq-tabs__panel" role="tabpanel">
      <div class="btms-admin-dlq__redrive">
        {{ govukPanel({
          titleText: "Redrive Request Successful",
          html: redrivenQueue ~ ' has been scheduled to be redriven'
        }) }}
        <h2 class="govuk-heading-m">For information</h2>
        <p>It can take a number of minutes for the Dead Letter Queue to update, this is dependant on the number of messages that require redriving. If the Dead Letter Queue count has not reduced please wait a number of minutes for the count to update.</p>
        {{ govukButton({
          text: "Return to Admin page",
          classes: "govuk-button--secondary",
          href: adminDlqPath
        }) }}
      </div>
    </section>
  </div>
{% endblock %}
