{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = "Admin - Redrive Messages" %}

{% block content %}
  <div class="govuk-tabs btms-admin-tabs">
    <ul class="govuk-tabs__list" role="tablist">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
        <a class="btms-admin-dlq__tab" href="#">Dead Letter</a>
      </li>
      <li class="govuk-tabs__list-item govuk-tabs__list-item" role="presentation">
        <a class="btms-admin-dlq__tab" href="/admin/messages">Messages</a>
      </li>
    </ul>
    <section class="btms-admin-dlq-tabs__panel" role="tabpanel">
      <h1 class="govuk-heading-l govuk-!-margin-top-6">Redrive Messages</h1>
      <div class="btms-admin-dlq__redrive">
        <div class="govuk-inset-text">
          There are currently {{ redrive.redriveQueueCount }} dead letter messages in the {{ redrive.redriveGroup }} queue - {{ redrive.redriveQueue }}
        </div>
        <p>Coming soon...</p>

        {{ govukBackLink({
        text: "Back",
        href: "/admin/dlq"
        }) }}
      </div>
    </section>
  </div>
{% endblock %}
