{% extends 'layout.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% set errors = {
  "SEARCH_TERM_REQUIRED": "Enter an MRN or CHED",
  "SEARCH_TERM_INVALID": "Enter an MRN or CHED in the correct format",
  "SEARCH_TERM_NOT_FOUND": searchTerm ~ " cannot be found"
} %}
{% set pageTitle = "Search for an MRN or CHED" %}
{% set searchButton %}
  {% include "./includes/button-search.njk" %}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form id="search" class="btms-search-wrapper" action="/admin/view">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="search-term">
            Search for an MRN or CHED
          </label>
        </h1>
        {{
          govukInput({
            errorMessage: {
              text: errors[errorCode],
              id: 'searchError'
            } if isValid == false,
            id: "search-term",
            name: "searchTerm",
            spellcheck: false,
            formGroup: {
              afterInput: {
                html: searchButton
              }
            },
            value: searchTerm
          })
        }}
        <input type="hidden" name="type" value="information" />
      </form>

      {% if results %}
      <div class="govuk-tabs govuk-!-margin-top-6">
        <ul class="govuk-tabs__list" role="tablist">
          <li class="govuk-tabs__list-item govuk-tabs__list-item{% if type == 'information' %}--selected{% endif %}" role="presentation">
            <a class="govuk-tabs__tab" href="/admin/view?searchTerm={{ searchTerm }}&type=information">{{ resourceType }} Information</a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item{% if type == 'all-events' %}--selected{% endif %}" role="presentation">
            <a class="govuk-tabs__tab" href="/admin/view?searchTerm={{ searchTerm }}&type=all-events">All events</a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item{% if type == 'all-messages' %}--selected{% endif %}" role="presentation">
            <a class="govuk-tabs__tab" href="/admin/view?searchTerm={{ searchTerm }}&type=all-messages">All messages</a>
          </li>
        </ul>
        <section class="govuk-tabs__panel" role="tabpanel">
          <div class="admin-view-table-container">
            <div class="admin-view-table" role="table">
              {% for line in results %}
                <div class="row" role="row">
                  <div class="line-number" role="cell">{{ loop.index }}</div>
                  <div class="code" role="cell">{{ line | safe }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
