{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends 'layout.njk' %}

{% set pageTitle = 'Cookies' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {% set errorMessage = {
          text: 'Choose your cookie preferences'
        } %}
        {{
          govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: errorMessage.text,
                href: "#analytics"
              }
            ]
          })
        }}
      {% endif %}
      {% if showCookieConfirmationBanner %}
        {% set cookieNotificationBannerHtml %}
        <h3 class="govuk-notification-banner__heading">
            You’ve set your cookie preferences.
          </h3>
        {% endset %}

        {{ govukNotificationBanner({
          html: cookieNotificationBannerHtml,
          type: "success"
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p>Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>
      <h2 class="govuk-heading-m">Essential cookies</h2>
      <p>We use cookies to make Border Trade Matching Service (BTMS) work and to collect information about how you use the
        service.</p>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Cookie name</th>
            <th scope="col" class="govuk-table__header">Purpose</th>
            <th scope="col" class="govuk-table__header">Expires</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Session cookie</th>
            <td class="govuk-table__cell">Stores encrypted session data</td>
            <td class="govuk-table__cell">After 4 hours</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Analytics cookies</h2>
      <p>With your permission, we use Google Tag Manager to collect data about how you use BTMS. This information helps us
        improve the service.</p>
      <p>Google is not allowed to use or share our analytics data with anyone.</p>
      <p>Google Tag Manager stores anonymised information about:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          The pages you visit on the service and how long you spend on them
        </li>
        <li>
          What you click on while using the service
        </li>
      </ul>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Cookie name</th>
            <th scope="col" class="govuk-table__header">Purpose</th>
            <th scope="col" class="govuk-table__header">Expires</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Google Tag Manager</th>
            <td class="govuk-table__cell">Measures service use</td>
            <td class="govuk-table__cell">2 years</td>
          </tr>
        </tbody>
      </table>

      <form action="/cookies" method="post">
        <input type="hidden" name="previousUrl" value="/cookies"/>
        {{
          govukRadios({
            name: 'analytics',
            value: cookiePolicy.analytics,
            fieldset: {
              legend: {
                text: 'Do you want to accept Google Tag Manager cookies?',
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [{
              text:  'Yes',
              value: 'yes'
            }, {
              text: 'No',
              value: 'no'
            }],
            errorMessage: errorMessage
          })
        }}
        {{
          govukButton({
            type: 'submit',
            text: 'Continue'
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
