{% extends 'layout.njk' %}

{% set pageTitle = heading %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
      {% for message in messages %}
        <p>{{ message }}<p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
