{% extends 'layout.njk' %}

{% set pageTitle = 'Home' %}

{% block content %}
  <h1 class="govuk-heading-xl">Border Trade Matching Service</h1>
  <p class="govuk-body govuk-!-font-size-27">
    Check inspection outcomes for sanitary and phytosanitary (SPS) goods and find
    mismatches between customs declarations and IPAFFS pre-notifications.
  </p>
{% endblock %}
