{% extends 'layout.njk' %}

{% set pageTitle = 'Home' %}
{% set heading = 'Home' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Lorem ipsum..."
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        {% if authedUser.displayName %}
          <p>
            User <strong>{{ authedUser.displayName }}</strong> is authenticated
          </p>
          <p>
            <a href="https://your-account.cpdev.cui.defra.gov.uk/management">Manage account</a> - <a href="/logout">Sign out</a>
          </p>
        {% else %}
          <p>
            User is not authenticated!
          </p>
          <p>
            <a id="login-link" href="/login">LOGIN</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
