{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set containerClasses = "" %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{%
  set defaultHeaderOptions = {
    homepageUrl: "https://www.gov.uk",
    serviceName: serviceName,
    useTudorCrown: true
  }
%}

{%
  set navigationOptions = {
    navigationClasses: 'btms-header-nav',
    navigation: [{
      text: 'Manage account',
      href: 'https://your-account.cpdev.cui.defra.gov.uk/management'
    }, {
      text: 'Sign out',
      href: signOutUrl
    }]
  }
%}

{% if authedUser.isAuthenticated %}
  {% set defaultHeaderOptions = defaultHeaderOptions | merge(navigationOptions) %}
{% endif %}

{% set additionalHeaderOptions = {} %}
{% set wrapperClass = 'govuk-main-wrapper' %}

{% if landingPage %}
  {% set wrapperClass = 'btms-landing-page-wrapper' %}
  {% set additionalHeaderOptions = {
    classes: 'btms-landing-page-header'
  } %}
{% endif %}

{% if resultsPage %}
  {% set containerClasses = 'btms-width-container--wide' %}
  {% set additionalHeaderOptions = {
    containerClasses: containerClasses
  } %}
{% endif %}

{% set headerOptions = defaultHeaderOptions | merge(additionalHeaderOptions) %}

{% block header %}
  {% if not cookiePolicy %}
    {% include "./includes/cookie-banner.njk" %}
  {% endif %}
  {{ govukHeader(headerOptions) }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} - {{ serviceName }}
{% endblock %}

{% block main %}
  <main role="main" id="main-content">
    <div class="{{ wrapperClass }}">
      <div class="govuk-width-container {{ containerClasses }}">
        {% block content %}{% endblock %}
      </div>
    </div>
  <div>
{% endblock %}

{% block footer %}
  {{
    govukFooter({
      containerClasses: containerClasses,
      meta: {
        items: [
          {
            href: "https://www.gov.uk/help/privacy-notice",
            text: "Privacy"
          },
          {
            href: "https://www.gov.uk/help/cookies",
            text: "Cookies"
          },
          {
            href: "/accessibility-statement",
            text: "Accessibility statement"
          }
        ]
      }
    })
  }}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
