{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set containerClasses = "" %}
{% set navClass = "" %}

{% block head %}
  {% if cookiePolicy.analytics == 'yes' %}
    {% include "./includes/google-tag-manager-head.njk" %}
  {% endif %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
  <link rel="icon" href="/public/assets/rebrand/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/public/assets/rebrand/images/favicon.svg" type="image/svg+xml">
{% endblock %}

{% set additionalHeaderOptions = {
  navigationClasses: 'btms-header-nav',
  rebrand: true
} %}

{% set wrapperClass = 'govuk-main-wrapper' %}

{% if landingPage %}
  {% set wrapperClass = 'btms-landing-page-wrapper' %}
  {% set additionalHeaderOptions = additionalHeaderOptions | merge({ classes: 'btms-landing-page-header', serviceName: null }) %}
{% endif %}

{% if resultsPage %}
  {% set containerClasses = 'btms-width-container--wide' %}
  {% set navClass = ' btms-service-navigation--wide' %}
  {% set additionalHeaderOptions = additionalHeaderOptions | merge({containerClasses: containerClasses}) %}
{% endif %}

{% set headerOptions = defaultHeaderOptions | merge(additionalHeaderOptions) %}

{% block bodyStart %}
  {% if cookiePolicy.analytics == 'yes' %}
    {% include "./includes/google-tag-manager-body.njk" %}
  {% endif %}
{% endblock %}

{% set accountNavigation %}
{% include './includes/account-navigation.njk' %}
{% endset %}

{% block header %}
  {% if currentUrl != "/cookies" and(cookiePolicy == null or showCookieConfirmationBanner)and hideCookieBanner != true %}
    {% include "./includes/cookie-banner.njk" %}
  {% endif %}
  {{ govukHeader(headerOptions) }}
  {{ govukServiceNavigation({
    classes: 'btms-service-navigation' ~ navClass,
    navigation: navigation,
    slots: {
      end: accountNavigation
    }
  }) }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} - {{ defaultHeaderOptions.serviceName }}
{% endblock %}

{% block main %}
  <main role="main" id="main-content">
    <div class="{{ wrapperClass }}">
      <div class="govuk-width-container {{ containerClasses }}">
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
{% endblock %}

{% block footer %}
  {% set items = [{
    href: "https://www.gov.uk/help/privacy-notice",
    text: "Privacy"
  }]%}
  {% if isAuthenticated %}
    {% set items = items.concat([{
      href: "/reporting",
      text: "BTMS reporting data"
    }])%}
  {% endif %}
  {% set items = items.concat([{
    href: "/cookies",
    text: "Cookies"
  }, {
    href: "/accessibility-statement",
    text: "Accessibility statement"
  }])%}
  {{
    govukFooter({
      containerClasses: containerClasses,
      meta: { items: items }
    })
  }}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
