{% extends 'layout.njk' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set errors = {
  "INVALID_SEARCH_TERM": "You must enter a valid MRN, CHED or DUCR",
  "SEARCH_TERM_NOT_FOUND": "This MRN, CHED or DUCR reference cannot be found"
} %}

{% set pageTitle = "Search" %}

{% set searchHint %}
  {% include "./includes/search-hint.njk" %}
{% endset %}
{% set searchButton %}
  {% include "./includes/search-button.njk" %}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form class="app-search-wrapper" action="/search-result">
        {{
          govukInput({
            errorMessage: {
              text: errors[errorCode],
              id: 'searchError'
            } if isValid == false,
            label: {
              text: "Search by MRN, CHED or DUCR",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            id: "search-term",
            name: "searchTerm",
            hint: {
              html: searchHint,
              classes: "govuk-body-s"
            },
            spellcheck: false,
            suffix: {
              classes: "app-search-wrapper-submit-button",
              html: searchButton
            },
            value: searchTerm
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
