{% extends 'layout.njk' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set errors = {
  "SEARCH_TERM_REQUIRED": "Enter an MRN, CHED, GMR, VRN or TRN reference",
  "SEARCH_TERM_INVALID": "Enter an MRN, CHED or GMR reference in the correct format",
  "SEARCH_TERM_NOT_FOUND": searchTerm ~ " cannot be found"
} %}

{% set pageTitle = "Search for an MRN, CHED, GMR, VRN or TRN" %}

{% set searchHint %}
  {% include "./includes/search-hint.njk" %}
{% endset %}
{% set searchButton %}
  {% include "./includes/button-search.njk" %}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form id="search" class="btms-search-wrapper" action="/search">
        <h1 class="govuk-heading-l">
            Search
        </h1>
        <label class="govuk-label" for="search-term">Enter an MRN, CHED, GMR, VRN or TRN</label>
        {{
          govukInput({
            errorMessage: {
              text: errors[errorCode],
              id: 'searchError'
            } if isValid == false,
            id: "search-term",
            name: "searchTerm",
            spellcheck: false,
            formGroup: {
              afterInput: {
                html: searchButton
              }
            },
            value: searchTerm
          })
        }}
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              See search examples
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list">
              <li>MRN, 26GB3FJBV1UEKBDAR0</li>
              <li>CHED, CHEDP.GB.2026.4433124 or GBCHD2026.4433124</li>
              <li>GMR, GMRA00002KW2</li>
              <li>VRN (Vehicle Registration Number) or TRN (Trailer Registration Number), HX66 BVL</li>
            </ul>
          </div>
        </details>
      </form>
    </div>
  </div>
{% endblock %}
{% block bodyEnd %}
  {{ super() }}
  <script nonce="{{ cspNonce }}">BTMS.initSearch()</script>
{% endblock %}
