{% extends 'layout.njk' %}

{% set pageTitle = "Signed out" %}

{% block content %}
  <h1 class="govuk-heading-xl">You are signed out</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>You will need to sign in again to access Border Trade Matching Service.</p>
      <p class="btms-start-link">
        <a class="govuk-button" href={{ signInUrl }}>Sign in</a>
      </p>
    </div>
  </div>
{% endblock %}
