{% extends 'layout.njk' %}

{% set navigationRequired = false %}

{% set pageTitle = 'How do you want to sign in?' %}

{% block content %}
  {% include "./includes/form-auth-provider.njk" %}
{% endblock %}
