{% macro commodityDescription(commodityDesc, maxLength) %}
  {{ commodityDesc | truncate(maxLength, true) }}
  {% if commodityDesc | length > maxLength %}
    <div class="app-import-commodities__description--tooltip" role="tooltip">{{ commodityDesc }}</div>
  {% endif %}
{% endmacro %}
