{% macro documentReference(decision) %}
  {% if decision.match %}
    <td class="govuk-table__cell">{{ decision.documentReference }}</td>
  {% else %}
    {% set id = 'tooltip-' + decision.id %}
    <td class="govuk-table__cell btms-no-match" tabindex="0" aria-describedby="{{ id }}">
      {% if decision.requiresChed %}
        Requires CHED
      {% else %}
        {{ decision.documentReference }}
      {% endif %}
      <span role="tooltip" id="{{ id }}">
        {{ decision.decisionReason }}
      </span>
    </td>
  {% endif %}
{% endmacro%}
