{% macro documentReference(decision) %}
  {% if decision.match == true %}
    <td class="govuk-table__cell">{{ decision.documentReference }}</td>
  {% endif %}
  {% if decision.match == false %}
    {% set id = 'tooltip-' + decision.id %}
    <td class="govuk-table__cell btms-no-match" tabindex="0" aria-describedby="{{ id }}">
      {{ decision.documentReference }}
      <span role="tooltip" id="{{ id }}">
        {{ decision.decisionReason }}
      </span>
    </td>
  {% endif %}
  {% if decision.match == null %}
    <td class="govuk-table__cell"></td>
  {% endif %}
{% endmacro %}
