{% macro documentReference(decision) %}
  {% if decision.match %}
    <td class="govuk-table__cell">{{ decision.documentReference }}</td>
  {% else %}
    {% set id = 'tooltip-' + decision.id %}
    <td class="govuk-table__cell btms-no-match" tabindex="0" aria-describedby="{{ id }}">
      {{ decision.documentReference }}
      <span role="tooltip" id="{{ id }}">
        This CHED reference cannot be found on the customs declaration. Please check that the reference is correct.
      </span>
    </td>
  {% endif %}
{% endmacro%}
