{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

<div class="govuk-width-container {{ containerClasses }}">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {{
        govukBackLink({
          text: backLink.text,
          href: backLink.href
        })
      }}
    </div>
  </div>
</div>
