{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set html %}
  <p class="govuk-body">We use some essential cookies to make this service work.</p>
  <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
{% endset %}

{% set acceptHtml %}
  <p class="govuk-body">You’ve accepted additional cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
{% endset %}

{% set rejectedHtml %}
  <p class="govuk-body">You’ve rejected additional cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
{% endset %}

{% if showCookieConfirmationBanner and cookiePolicy != null %}
  {{ govukCookieBanner({
    ariaLabel: "Cookies on Border Trade Matching Service",
    messages: [
      {
        html: acceptHtml,
        hidden: cookiePolicy.analytics == 'no',
        actions: [
          {
            text: "Hide cookie message",
            type: "button",
            href: currentUrl
          }
        ]
      },
      {
        html: rejectedHtml,
        hidden: cookiePolicy.analytics == 'yes',
        actions: [
        {
          text: "Hide cookie message",
          type: "button",
          href: currentUrl
        }
      ]
      }
    ]
  }) }}
{% else %}
  <form method="post" action="/cookies">
    <input type="hidden" name="previousUrl" value="{{ currentUrl }}" />
    {{ govukCookieBanner({
      ariaLabel: "Cookies on Border Trade Matching Service",
      messages: [
        {
          headingText: "Cookies on Border Trade Matching Service",
          html: html,
          actions: [
            {
              text: "Accept analytics cookies",
              type: "submit",
              name: "analytics",
              value: "yes"
            },
            {
              text: "Reject analytics cookies",
              type: "submit",
              name: "analytics",
              value: "no"
            },
            {
              text: "View cookies",
              href: "/cookies"
            }
          ]
        }
      ]
    }) }}
  </form>
{% endif %}
