{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{
  govukSummaryList({
    classes: "app-customs-declaration-summary",
    rows: [
      {
        key: { text: "MRN" },
        value: { text: customsDeclaration.movementReferenceNumber }
      },
      {
        key: { text: "DUCR" },
        value: { text: customsDeclaration.declarationUcr }
      },
      {
        key: { text: "Status" },
        value: { text: customsDeclaration.status }
      },
      {
        key: { text: "Last updated" },
        value: { text: customsDeclaration.updated }
      }
    ]
  })
}}
