{% from "govuk/components/select/macro.njk" import govukSelect %}

<div id="declaration{{ tabContextSuffix }}-filters-wrapper" hidden>
  <form id="declaration{{ tabContextSuffix }}-filters" class="btms-filters">
    {{
      govukSelect({
        id: "match" ~ tabContext,
        name: "match" ~ tabContext,
        label: { text: "Match" },
        items: [
          { text: 'Show all', value: '', selected: true },
          { text: "Yes", value: true },
          { text: "No", value: false }
        ]
      })
    }}
    {{
      govukSelect({
        id: "decision" ~ tabContext,
        name: "decision" ~ tabContext,
        label: { text: "Decision" },
        items: [
          { text: 'Show all', value: '', selected: true },
          { text: "Hold", value: "Hold" },
          { text: "Refuse", value: "Refuse" },
          { text: "Release", value: "Release" }
        ]
      })
    }}
    {{
      govukSelect({
        id: "authority" ~ tabContext,
        name: "authority" ~ tabContext,
        label: { text: "Authority" },
        items: [
          { text: 'Show all', value: '', selected: true },
          { text: "APHA", value: "APHA" },
          { text: "FNAO", value: "FNAO" },
          { text: "HMI", value: "HMI" },
          { text: "IUU", value: "IUU" },
          { text: "PHSI", value: "PHSI" },
          { text: "POAO", value: "POAO" }
        ]
      })
    }}
    <div id="declaration{{ tabContextSuffix }}-reset" class="btms-clear-filters" hidden>
      {% include "./button-reset.njk" %}
    </div>
  </form>
</div>
