{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../macros/highlight-match.njk" import highlightMatch %}

{% set MRNClass = highlightMatch(customsDeclaration.movementReferenceNumber, searchTerm) %}
{% set DUCRClass = highlightMatch(customsDeclaration.declarationUcr, searchTerm) %}

{{
  govukSummaryList({
    classes: "btms-customs-declaration-summary",
    rows: [
      {
        key: { text: "MRN" },
        value: {
          html: '<span class="' ~ MRNClass ~ '">'~customsDeclaration.movementReferenceNumber~'</span>'
        }
      },
      {
        key: { text: "DUCR" },
        value: { html: '<span class="' ~ DUCRClass ~ '">'~customsDeclaration.declarationUcr~'</span>' }
      },
      {
        key: { text: "Status" },
        value: { text: customsDeclaration.status }
      },
      {
        key: { text: "Last updated" },
        value: { text: customsDeclaration.updated }
      }
    ]
  })
}}
