{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../macros/cds-status.njk" import cdsStatus %}

{% set cdsStatusClass = cdsStatus(customsDeclaration.finalState) %}
{% set summaryRows = [
  {
    key: { text: "MRN" },
    value: { text: customsDeclaration.movementReferenceNumber }
  }
] %}

{% if customsDeclaration.gmr %}
{% set summaryRows = (summaryRows.push(
  {
    key: { text: "GMR" },
    value: { html: '<a href="' ~ customsDeclaration.gmrLink ~ '">' ~ customsDeclaration.gmr ~ '</a>' }
  }
), summaryRows) %}
{% endif %}

{% set summaryRows = (summaryRows.push(
  {
    key: { text: "CDS status" },
    value: {
      html: '<span class="' ~ cdsStatusClass ~ '">' ~ customsDeclaration.status ~ '</span>'
    }
  },
  {
    key: { text: "Last updated" },
    value: { text: customsDeclaration.updated }
  }
), summaryRows) %}

{{
  govukSummaryList({
    classes: "btms-customs-declaration-summary",
    rows: summaryRows
  })
}}
