{% from "../macros/commodity-description.njk" import commodityDescription %}
{% from "../macros/document-reference.njk" import documentReference %}
{% from "../macros/decision-match.njk" import decisionMatch %}

{% set maxLength = 24 %}

<table class="govuk-table govuk-table--small-text-until-tablet btms-declaration">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Item number</th>
      <th scope="col" class="govuk-table__header">Commodity code</th>
      <th scope="col" class="govuk-table__header">Description</th>
      <th scope="col" class="govuk-table__header">Quantity / Weight</th>
      <th scope="col" class="govuk-table__header">CHED reference</th>
      <th scope="col" class="govuk-table__header">Match</th>
      <th scope="col" class="govuk-table__header">Authority</th>
      <th scope="col" class="govuk-table__header">Decision</th>
    </tr>
  </thead>
  {% for commodity in customsDeclaration.commodities %}
    <tbody class="govuk-table__body">
      {% for decision in commodity.decisions %}
        <tr data-match="{{ decision.match }}" data-authority="{{ decision.departmentCode }}" data-decision="{{ decision.decision }}">
          <td class="govuk-table__cell">{{ commodity.itemNumber }}</td>
          <td class="govuk-table__cell">{{ commodity.taricCommodityCode }}</td>
          <td class="govuk-table__cell">{{ commodityDescription(commodity.goodsDescription, commodity.id, maxLength) }}</td>
          <td class="govuk-table__cell">{{ commodity.weightOrQuantity }}</td>
          {{ documentReference(decision) }}
          <td class="govuk-table__cell">{{ decisionMatch(decision.match) }}</td>
          <td class="govuk-table__cell">
            {{ decision.departmentCode }}{{ decision.departmentCodeDetail }}
          </td>
          <td class="govuk-table__cell">
            {% if decision.decision %}
              {{ decision.decision }} -
            {% endif %}
            {{ decision.decisionDetail }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  {% endfor %}
</table>
