{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../macros/highlight-match.njk" import highlightMatch %}

{% set CHEDClass = highlightMatch(preNotification.referenceNumber, searchTerm) %}

{{
  govukSummaryList({
    classes: "app-customs-declaration-summary",
    rows: [
      {
        key: { text: "CHED Reference" },
        value: {
          html: '<span class="' ~ CHEDClass ~ '">'~preNotification.referenceNumber~'</span>'
        }
      },
      {
        key: { text: "CHED Status" },
        value: { text: preNotification.status }
      },
      {
        key: { text: "Last updated" },
        value: { text: preNotification.updated }
      },
      {
        key: { text: "Authorities" },
        value: { text: preNotification.authorities | join(", ") }
      }
    ]
  })
}}
