<ul class="govuk-list govuk-body-s">
  <li>
    <a href="/reporting?{{ today }}">Today</a>
  </li>
  <li>
    <a href="/reporting?{{ yesterday }}">Yesterday</a>
  </li>
  <li>
    <a href="/reporting?{{ lastWeek }}">Last week</a>
  </li>
  <li>
    <a href="/reporting?{{ lastMonth }}">Last month</a>
  </li>
</ul>
