<p class="govuk-body-s">For example:</p>
<ul class="govuk-list govuk-body-s">
  <li>MRN, 24GB6T3HFCIZV1HAR9</li>
  <li>CHED, CHEDP.GB.2024.4450758</li>
  <li>DUCR, 4GB335031931000-WB2408-27WWL62745</li>
</ul>
